<div id="messenger">

    <ul id="menu">
        <li class="border">
            <a href="#" class="fa fa-clock-o"></a>
        </li>
        <li>
            <a href="#" class="fa fa-user"></a>
        </li>
        <li>
            <a href="#" class="fa fa-list-ul"></a>
        </li>
        <li>
            <a href="#" class="fa fa-cog"></a>
        </li>
    </ul>

    <div id="baglanti">Messenger</div>

    <div id="ana">
        <div class="profil">
            <div class="pfoto">
                <img src="https://pbs.twimg.com/profile_images/569600190718300160/0242lINC.png">
            </div>

            <div class="mesaj">
                <b><span>Yasin Softaoğlu</span> <span class="right">19:06</span>
                    <br>
                    <span>İyi akşamlar napıyosun :)</span></b>
            </div>
            <div class="temizle"></div>
        </div>


        <div class="profil">
            <div class="pfoto">
                <img src="https://i.ytimg.com/vi/ZSggW9iN6Fs/maxresdefault.jpg">
            </div>

            <div class="mesaj">
                <span class="kisi">Elif Göçek</span> <span class="right-g">20 Şubat</span>
                <br>
                <span>Canım çok sıkıldı yaa :D</span> <img src="https://i.ytimg.com/vi/ZSggW9iN6Fs/maxresdefault.jpg" class="sag">
            </div>
            <div class="temizle"></div>
        </div>


        <div class="profil">
            <div class="pfoto">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcStZXnJW5HQ91_dbOfzgMlyc_SPIbPsnGqL3sQ-8SiGC9tbhsIV">
            </div>

            <div class="mesaj">
                <span class="kisi">Asu Coşkun</span> <span class="right-g">15 Şubat</span>
                <br>
                <span>İyi geceler tatlı rüyalar</span> <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcStZXnJW5HQ91_dbOfzgMlyc_SPIbPsnGqL3sQ-8SiGC9tbhsIV" class="sag">
            </div>
            <div class="temizle"></div>
        </div>

    </div>

    <ul id="asagi">
       <li><a >Open Messenger</a></li>
    </ul>



</div>