
<footer>
    <div class="footer-content">

        <div class="footer-box">
            <h3>Company<span>logo</span></h3>
        </div>

        <div class="footer-box">

            <div >
                <i class="fa fa-map-marker"></i>
                <span>21 Revolution Street</span><span> Yerevan, Armenia</span>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <span>+1 555 123456</span>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <span><a href="admin:support@example.com">admin:support@example.com</a></span>
            </div>
        </div>

        <div class="footer-box">

            <div>
                <p>About the company</p>
                <span>Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod
                    convallis velit, eu auctor lacus vehicula sit amet.</span>
            </div>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>
    </div>

    <div class="footer-animate">

        <figure class="clouds"></figure>
        <figure class="f-background"></figure>
        <figure class="f-foreground"></figure>
        <figure class="poof"></figure>

        <div class="f-stag">
            <img src="/public/images/seb.gif">
        </div>
    </div>
</footer>
<a href="#" id="back-top">
    <i class="zmdi zmdi-long-arrow-up"></i>
</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
<script src="/js/search.js"></script>

</body>
</html>