<div id="messenger-area">
    <img src="/public/images/messenger.png">
    <div id="messenger">

        <div class="ms_border">
            <li><a>Open Messenger</a></li>
        </div>

    </div>
</div>

<div id="open-menu">
    <h5>Menu</h5>
    <img src="/public/images/open-menu.png">
</div>

<div class="ms-menu">

    <div class="top-ms-menu">
        <span class="us-n"></span>
        <img class="close-ms-menu" src="/public/images/close.png">
    </div>

    <div class="ms-area">

    </div>

    <div class="ms-send-area">

        <div class="ms-input">

            <input type="text" name="messenger">

        </div>

        <div class="ms-send">

            <input type="image" src="/public/images/send-ms.png" alt=""/>

        </div>

    </div>
</div>

<div class="container-menu">

    <div id="close-menu">
        <img src="/public/images/close.png">
    </div>

    <h2>Menu</h2>
    <div class="top-menu">
        <ul>

            <div class="menu-item">
                <a href="/home"><img src="/public/images/home.png"></a>
                <li><a href="/home"> Home </a></li>
            </div>

            <div class="menu-item">
                <a href="/profile"><img src="/public/images/login-w-icon-2.png"></a>
                <li><a href="/profile"> My Profile </a></li>
            </div>

            <div class="menu-item">
                <a href="/products"><img src="/public/images/shop-icon.png"></a>
                <li><a href="/products"> Products </a></li>
            </div>

            <div class="menu-item">
                <a href="/addProduct"><img src="/public/images/add-product.png"></a>
                <li><a href="/addProduct"> AddProduct </a></li>
            </div>

            <div class="menu-item">
                <a href="/addCategory"><img src="/public/images/add-category.png"></a>
                <li><a href="/addCategory"> AddCategory </a></li>
            </div>

            <div class="menu-item">
                <a href="/logout"><img src="/public/images/logout.png"></a>
                <li><a href="/logout"> Logout </a></li>
            </div>
        </ul>

    </div>

</div>
