<%- include ../head.ejs %>

<div class="context">
    <h1 class="text-center">Password recovery</h1>
    <div class="container-form">
        <form action="/changeNewPassword" method="POST">
            <div class="form-group">
                <label rel="password">New Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="form-group">
                <label rel="repeat_password">Repeat Password</label>
                <input type="password" name="repeat_password" id="repeat_password" required>
            </div>
            <button type="submit">Change Password</button>
        </form>
    </div>
</div>

<%- include ../bodyAnimated.ejs %>
<%- include ../footer.ejs %>