<%- include ../head.ejs %>
<%- include ../menu.ejs %>
<div class="home-area">

    <div class="home-bg">
        <div class="panel top">
            <h1 class="text-center">Hello From Home page</h1>
        </div>
    </div>
    <h1 class="text-center">Menu</h1>
    <div class="menu-card-area">
        <div class="menu-card">
            <div class="cover">
                <img src="https://bilbo.surge.sh/codepen/download-cards/apple.png" />
            </div>
            <div class="branded">
                <a href="/profile"><img src="/public/images/login-w-icon-2.png"></a>
            </div>

            <div class="card-href">
                <a href="/profile"> My Profile </a>
            </div>
        </div>
        <div class="menu-card">
            <div class="cover">
                <img src="https://bilbo.surge.sh/codepen/download-cards/apple.png" />
            </div>
            <div class="branded">
                <a href="/products"><img src="/public/images/shop-icon.png"></a>
            </div>

            <div class="card-href">
                <a href="/products">Products </a>
            </div>
        </div>
        <div class="menu-card">
            <div class="cover">
                <img src="https://bilbo.surge.sh/codepen/download-cards/apple.png" />
            </div>
            <div class="branded">
                <a href="/addProduct"><img src="/public/images/add-product.png"></a>
            </div>

            <div class="card-href">
                <a href="/addProduct"> AddProduct </a>
            </div>
        </div>
        <div class="menu-card">
            <div class="cover">
                <img src="https://bilbo.surge.sh/codepen/download-cards/apple.png" />
            </div>
            <div class="branded">
                <a href="/addCategory"><img src="/public/images/add-category.png"></a>
            </div>

            <div class="card-href">
                <a href="/addCategory"> AddCategory </a>
            </div>
        </div>
    </div>
</div>
<%- include ../footer.ejs %>