<%- include ../head.ejs %>

<div class="context">
    <h1 class="text-center">Password recovery</h1>

    <div class="container-form">

        <form action="/passwordRecovery" method="POST">

            <div class="form-group">
                <label rel="email">Username</label>
                <input type="email" name="email" id="email">
                <button type="submit">Send</button>
            </div>

        </form>

    </div>
</div>

<%- include ../bodyAnimated.ejs %>
<%- include ../footer.ejs %>