<%- include ../head.ejs %>
<%- include ../menu.ejs %>

<div id="search-bg">
    <div id="search-area">

       <div><h1>Search People... </h1></div>
        <div>
            <input id="search-inp" type="text">
            <div id="s-search">
                <i class="zmdi zmdi-search"></i>
            </div>
        </div>
    </div>

    <div id="search-res-area" data-name="<%= id %>">

    </div>

</div>
<script>

</script>

<%- include ../footer.ejs %>