extends ../_template

block content
    h1.text-center Password recovery
    div.container-form
        form(action="/changeNewPassword" method="POST")
            div.form-group
                label(rel="password") New Password
                input(type="password" name="password" id="password" required)
            div.form-group
                label(rel="repeat_password") Repeat Password
                input(type="password" name="repeat_password" id="repeat_password" required)
                button(type="submit") Change Password