extends ../_template

block content
    h1.text-center Password recovery
    div.container-form
        form(action="/passwordRecovery" method="POST")
            div.form-group
                label(rel="email") Recover your password
                input(type="email" name="email" id="email" required)
                button(type="submit") Send